.rightmain .btnbox.btnbox2 .btnorange {float:right; margin-left:12px;}

.rightmain .amazon-edit .btnbox {border-bottom:none; padding:8px 0 0;}
.rightmain .amazon-edit .btnbox .btngrey:first-child {margin-left:0;}
.rightmain .amazon-edit .btnbox .btngrey {float:left;}
.rightmain .amazon-edit .btnbox .btnorange {clear:none; margin:0 0 0 10px;}

.rightmain {float:left; width:100%; padding-bottom:10px;}

.rightmain .rightinner {width:100%; float:left; margin:0 0 0 0px; padding:20px 0 0;}
.rightinner .btnbox {border-bottom:1px solid #dedede; float:left; padding:20px 0; width:100%;}
.rightmain .btnbox .btngrey {float:right; margin-left:13px;}
.rightmain .contentbox {width:100%; margin:20px 0;}
.rightmain .contentbox p {color:#666; padding:5px; line-height:18px;}

.showcomment .editbtnmain {float:left; position:relative; min-width:235px; padding-right:10px;}


.showcomment .scthumb {float:left; width:50px; height:50px; margin:0 12px 0 0;}
.showcomment .sctxt {float:left; width:612px;}
.showcomment .sctxt h4 {color:#EF792F; margin:0 0 5px 0; padding:0;}
.showcomment .sctxt p {color:#666; margin:0; padding:5px 0;}
.showcomment .sctxt .time {font-size:12px; color:#999; margin:5px 0 0;}


.showcomment.showcomment2 {margin:15px 0;}
.showcomment .btnedit {margin:8px 0 8px 8px; background:url(../images/drag-bg.jpg) repeat-x; border-radius:7px; -moz-border-radius:7px; -webkit-border-radius:7px; box-shadow:0 0 2px #ccc; -moz-box-shadow:0 0 2px #ccc; -webkit-box-shadow:0 0 2px #ccc; border:1px solid #AFC0D8; color:#222; font-size:13px; padding:10px 70px 10px 35px; position:relative; float:left; min-width:70px;}
.showcomment .btnedit:hover {color:#EF792F;}
.showcomment .btnedit .para {background:url(../images/drag-icons.png) no-repeat; width:17px; height:14px; position:absolute; left:10px; top:10px;}
.showcomment .btnedit:hover .para {background-position:0 -37px;}
.showcomment .btnedit .image {width:19px; height:19px; background:url(../images/drag-icons.png) no-repeat; background-position:0 -74px; position:absolute; left:10px; top:10px;}
.showcomment .btnedit:hover .image {background-position:0 -113px;}
.showcomment .btnedit .video {width:19px; height:19px; background:url(../images/drag-icons.png) no-repeat; background-position:0 -234px; position:absolute; left:10px; top:10px;}
.showcomment .btnedit:hover .video {background-position:0 -275px;}
.showcomment .btnedit .list {width:19px; height:19px; background:url(../images/drag-icons.png) no-repeat; background-position:0 -314px; position:absolute; left:10px; top:10px;}
.showcomment .btnedit:hover .list {background-position:0 -351px;}
.showcomment .btnedit .comm {width:20px; height:19px; background:url(../images/drag-icons.png) no-repeat; background-position:0 -389px; position:absolute; left:10px; top:10px;}
.showcomment .btnedit:hover .comm {background-position:0 -426px;}
.showcomment .btnedit .opinion {width:20px; height:19px; background:url(../images/drag-icons.png) no-repeat; background-position:0 -463px; position:absolute; left:10px; top:10px;}
.showcomment .btnedit:hover .opinion {background-position:0 -501px;}
.showcomment .btnedit .polls {width:20px; height:19px; background:url(../images/drag-icons.png) no-repeat; background-position:0 -539px; position:absolute; left:10px; top:10px;}
.showcomment .btnedit:hover .polls {background-position:0 -576px;}

.showcomment .btnedit .amazon {width:24px; height:24px; background:url(../images/amazon-icon.png) no-repeat; background-position:0 0; position:absolute; left:10px; top:8px;}


.showcomment .editbtnmain {float:left; position:relative; min-width:235px; padding-right:10px;}
.showcomment .edit {display:none; position:absolute; top:5px; right:-36px;}
.showcomment .editbtnmain:hover .edit {display:block;}
.showcomment .btnorange {float:right; margin:10px 10px 0 0; min-width:100px; text-align:center;}
.showcomment .txtorange {font-size:13px; margin:10px 0 0 30px; float:left;}
.showcomment .infoboxmain {float:left; margin:15px 0 0 100px;}
.showcomment .infobox {float:left; width:100px;}
.showcomment .infobox .value {background:#DDDDDD; border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; border:1px solid #ccc; color:#666; margin:0 5px 0 0; float:left; padding:3px 6px;}
.showcomment .infobox .txtinfo {color:#666; float:left; margin:5px 0 0;}

.showcomment.showcomment2 .view-mode {border:none;}
.showcomment.showcomment2 .view-mode .view-modein {margin:9px 0 9px 10px;}
.showcomment.showcomment2 .view-mode .view-modein .vrows {padding:0;}
.showcomment.showcomment2 .view-mode .view-modein .vrows .remove {float:right;}
.showcomment.showcomment2 .editbox .view-mode .view-modein {width:inherit; margin:0;}
.showcomment.showcomment2 .editbox .view-mode .view-modein .vrows {border-bottom:1px solid #ddd; border-top:none; padding:10px 0; width:675px;}


.showcomment .btnorange.catbtn {padding:8px 0; margin:0;}
.showcomment .txtgrey {padding:0 0 17px;}

.showcomment.viewmode {background:none; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; border:none; margin:0;}
.showcomment.viewmode h4 {color:#212121; float:left; background:url(../images/seppreview.png) repeat-x bottom; width:100%; padding:15px 0 10px 0; margin:0;}
.showcomment.viewmode .para-icon {float:left; background:url(../images/para-preview.png) no-repeat left; width:17px; height:14px; margin:0 12px 0;}
.showcomment.viewmode .image-icon {float:left; background:url(../images/image-preview.png) no-repeat left; width:17px; height:14px; margin:0 12px 0;}
.showcomment.viewmode .video-icon {float:left; background:url(../images/video-preview.png) no-repeat left; width:19px; height:18px; margin:0 12px 0;}
.showcomment.viewmode .list-icon {float:left; background:url(../images/list-preview.png) no-repeat left; width:19px; height:18px; margin:0 12px 0;}
.showcomment.viewmode .opinion-icon {float:left; background:url(../images/opinion-preview.png) no-repeat left; width:16px; height:18px; margin:0 12px 0;}
.showcomment.viewmode .polls-icon {float:left; background:url(../images/polls-preview.png) no-repeat left; width:19px; height:18px; margin:0 12px 0;}

.rightmain .contentbox p {  color: #666666;  line-height: 18px;   padding: 5px;}

.contentbox {float:left; width:150px; margin:0 0 0 10px;}
.contentbox p {color:#222; font-size:13px; padding:0; margin:0;}
.contentbox ul {margin:0; padding:0;}

.contentbox ul li {float:left; list-style:none; margin:0; padding:0 0 0 15px; background:url(../images/orange-arrow.png) no-repeat left 8px; color:#666; width:90%;}


/* edit mode */
.editbox { background: none repeat scroll 0 0 #FFFFFF; border: 1px dashed #AFC0D8; border-radius: 5px 5px 5px 5px; float: left;  Xmargin: 5px 0 8px 10px; width: 100%;}
.editbox .editbar {float:left; width:100%; border-bottom:1px solid #B0C0D8; height:44px;}
.editbox .editbar ul {margin:0 0 0 10px; padding:0;}
.editbox .editbar ul li {margin:0; padding:0; list-style:none; float:left; padding:10px 2px;}
.editbox .contentbox {margin:10px 0 10px 8px; width:98%;}
.editbox .contentbox .thumb {margin:8px 15px 0 0;}
.editbox .imageedit {float:left; width:95%; margin:0 0 0 14px; border-top:1px solid #DEDEDE; padding:20px 0;}
.editbox .imageedit:first-child {border-top:none;}
.editbox .imageedit .thumb {margin:0 4px 0 0; float:left;}
.editbox .imageedit .inputmain {width:504px; height:70px; float:left; margin:0;}
.editbox .imageedit .infobox {float:right; margin:10px 0 0; xwidth:500px;}
.editbox .imageedit .infobox .size {font-size:12px; color:#666; float:right; margin:0;}
.editbox .imageedit .infobox .nav {float:left; color:#DEDEDE; margin:0 0 0 20px;}
.editbox .imageedit .contentbox.contentbox2 {margin:0;}
.editbox .imageedit.video .inputmain {width:430px; height:100px;}
.editbox .imageedit.video .thumb {border:none; padding:0; margin:0 15px 0 0; width:200px; height:150px;}
.editbox .imageedit.video .infobox {width:440px;}
.editbox .imageedit.video2 .inputmain.inputmain2 {width:430px; height:14px; margin:0 0 10px 0;}
.editbox .imageedit.video2 .inputmain {width:430px; height:80px;}
.editbox .imageedit.video2 .thumb {border:none; padding:0; margin:0 15px 0 0; width:200px; height:150px;}
.editbox .imageedit.video2 .infobox {width:440px;}
.editbox .listedit { float: left; margin: 0; padding: 12px 5px 8px 9px; width: 100%;}
.editbox .listedit .inputmain {  margin: 0 0 5px;  width: 90%;}


.editbox .listedit .bulletbox {float:left; margin:4px 0; width:80%;}
.editbox .listedit .bulletbox .bullets {background:url(../images/dot.png) no-repeat 7px; float:left; height: 15px;  padding: 10px 0 10px 20px;   width: 60px; } /* 15-03-12 */
.editbox .listedit .bulletbox .inputmain {width:616px; float:left;} /* 15-03-12 */
.addmore {background:url(../images/add-more.png) no-repeat left; padding:0 0 0 15px; font-size:12px; float:right; margin:0 17px 0 0;} /* 15-03-12 */
.listedit .listhead {color:#1F1F1F; float:left; margin:0 0 10px; font-size:14px; width: 100%} /* 15-03-12 */
/*.editbox input:focus, textarea:focus {box-shadow:0px 0px 2px #ddd; -moz-box-shadow:0px 0px 2px #ddd; -webkit-box-shadow:0px 0px 2px #ddd; border:1px solid #999;}*/
.editbox .opinion {float:left; position:relative; width:670px; margin:0; padding:12px 5px 8px 9px;}
.editbox .opinion .inputmain {width:658px; margin:0 0 10px 0;}
.editbox .opinion textarea.inputmain {width:658px; height:75px; margin:0 0 10px 0;}
.editbox .opinion h4 {color:#EF792F; margin:0 0 8px 0; padding:0;}
.editbox .opinion .bulletbox {float:left; margin:4px 0; width:680px;}
.editbox .opinion .bulletbox .bullets {background:url(../images/dot.png) no-repeat 7px; float:left; width:8px; height:8px; padding:10px 5px 10px 12px;} /* 15-03-12 */
.editbox .opinion .bulletbox .inputmain {width:600px; float:left; margin:0 0 5px 0;} /* 15-03-12 */
.positives {float:left; width:678px; border-top:1px solid #DEDEDE; padding:15px 0;}
.positives.first {border-top:none;}
.rating {color:#666; width:100%; float:left; margin:0 0 0 6px;}
.rating .txtrate {float:left;}
.rating .txtrate img {vertical-align:middle; position:relative; top:-3px; left:5px;}
.rating .checkboxmain {margin:0 0 0 70px; width:auto; float:left;}
.rating .btnorange {padding:8px 0; margin:-5px 5px 0 0;}
.editbox .opinion .note {color:#666; font-size:12px; float:left;}
.editbox .opinion .note .bold {color:#1F1F1F; font-weight:bold;}
.addmore.addoptions {float:left; width:100%; margin:10px 0;}
.pollbox {border-top:1px solid #DEDEDE; width:678px; float:left; padding:20px 0;}
.pollbox:first-child {border-top:none; padding:0 0 20px 0;}


.img-title-inputmain { border: 1px solid #CCCCCC; border-radius: 5px 5px 5px 5px;  box-shadow: 1px 1px 2px #DDDDDD inset; color: #666666; font-size: 12px; margin-bottom: 5px; padding: 8px;}
.adl {display: none;}
.nicEdit-main{width:100% !important;}
.contentbox.paragraph img, .nicEdit-main img{border:1px solid #DDDDDD;margin:5px 15px 0 0;padding:6px;}

.create-step input[type="text"] {  width: 400px;}
.create-step textarea { height: 86px;   width: 400px;}
.create-step .note { color: #000000;  float: left;  font-size: 11px;  margin: 5px 0 0 0;  width: 400px;}


/* amazon view mode page */
.view-mode {float:left; width:100%; border:1px solid #D6D6D6; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.view-modein {float:left; width:698px; margin:9px 0 9px 19px;}
.view-modein .vrows {float:left; width:100%; border-top:1px solid #ddd; padding:10px 0;}
.view-modein .vrows:first-child {border-top:none;}
.view-modein .vrows .vleft {float:left; width:95px;}
.view-modein .vrows .vleft .thumb {float:left; width:70px; height:70px;}
.view-modein .vrows .vright {float:left; width:79%;}
.view-modein .vrows .vright .txtblue {float:left; padding:5px 0;}
.view-modein .vrows .vright .txtgrey {margin:0;}
.view-modein .vrows .vright .post-by-block ul li {list-style-type:none; margin:0; padding:0 10px; float:left; padding:0 10px; background:url(../images/post-by-bg.png) no-repeat left center; font-size:13px; font-weight:bold;}
.view-modein .vrows .vright .post-by-block ul li:first-child {background:none; padding:0 10px 0 0;}
.view-modein .vrows .vright .post-by-block ul li a {background:none; padding:0;}
.view-modein .vrows .vright .post-by-block ul li .txtorange {font-size:16px;}
.view-modein .vrows .vright .txtblue {width:100%;}

/* amazon edit  mode page */
.editbox .amazon-edit {float:left; padding:13px;}
.editbox .amazon-edit .radio {float:left; color:#222; width:100%;}
.editbox .amazon-edit .radio .custom-radio {margin:3px 0;}
.editbox .amazon-edit .btnorange {float:left; min-width:inherit; clear:left;}
.showcomment.showcomment2 .view-mode {border:none;}
.showcomment.showcomment2 .view-mode .view-modein {margin:9px 0 9px 10px;}
.showcomment.showcomment2 .view-mode .view-modein .vrows {padding:0;}
.showcomment.showcomment2 .view-mode .view-modein .vrows .remove {float:right;}
.az-pricebox {float:left; width:102px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; border:1px solid #D2D2D2; background:#F4F4F4 url(../images/azpricebg.jpg) repeat-x; margin:0 10px 0 0;}
.az-pricebox .azbar {float:left; width:100%; border-bottom:1px solid #D2D2D2; color:#202020; text-align:center; padding:5px 0;}
.az-pricebox .price {color:#FF8C44; font-size:18px; text-align:center; padding:3px 0; float:left; width:100%;}
.editbox .amazon-edit h2 {color:#EE792E; font-size:16px; margin:0; padding:0 0 10px;}
.amazon-edit .fieldbox {float:left; width:100%;}
.amazon-edit .fieldbox .fieldmain {float:left; width:100%; padding:5px 0;}
.amazon-edit .fieldbox .name {float:left; width:100%; color:#1F1F1F; padding:0 0 4px 0;}
.amazon-edit .fieldbox .name .txtorange {margin:0; padding:0; float:none;}
.amazon-edit .fieldbox .inputmain {width:635px; float:left;} /* 10-04-12 */
.amazon-edit .fieldbox .delete {margin:10px 0 0 2px; padding:0;}  /* 10-04-12 */
.amazon-edit .fieldbox textarea.inputmain {min-height:86px; color:#999;}
.rightmain .amazon-edit .btnbox {border-bottom:none; padding:8px 0 0;}
.rightmain .amazon-edit .btnbox .btngrey:first-child {margin-left:0;}
.rightmain .amazon-edit .btnbox .btngrey {float:left;}
.rightmain .amazon-edit .btnbox .btnorange {clear:none; margin:0 0 0 10px;}
.amazon-edit .fieldbox .dropdown .name {color:#666; width:auto; padding:6px 5px 0 0;}
.amazon-edit .fieldbox .dropdown {float:left; padding:10px 0;}
.amazon-edit .fieldbox .dropdown .dd-text {position:absolute; text-indent:8px; line-height:28px; width:50px; padding-right:20px; height:30px; background:#fff url(../images/arrowdd.png) no-repeat right center; border:1px solid #B7B7B7; box-shadow:inset 1px 1px 2px #ccc; overflow:hidden; color:#212121;}
.amazon-edit .fieldbox .dropdown select.designer {width:70px; height:30px; position:relative; z-index:1;}
.showcomment.showcomment2 .editbox .view-mode .view-modein {width:inherit; margin:0;}
.showcomment.showcomment2 .editbox .view-mode .view-modein .vrows {border-bottom:1px solid #ddd; border-top:none; padding:10px 0; width:675px;}
.btnbox.btnbox3 {padding:5px 0 0;}

/*Polls*/
.pollchoice {float:left; width:628px; clear:both; margin:5px 0;}
.pollchoice .radio {float:left; width:233px;}
.pollchoice .radio .custom-radio label {padding:0 0 0 38px;} /* 19-03-12 */
.pollchoice .cvalue {padding:5px 8px 5px 8px; background:#fbfbfb; border:1px solid #A0A0A0; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; float:left; color:#212121; font-size:11px; margin:5px 0 0 20px;}
.custom-radio {  float: left;  margin-right: 15px;  position: relative;}
.poll { background: none repeat scroll 0 0 #EAEAEA; border: 1px solid #B2B2B2; float: left; padding: 4px; width: 190px;}
.poll .progressmain { float: left; height: 12px;  padding: 0 0 0 5px;  width: 178px;}
.poll .progress {  background: -moz-linear-gradient(center top , #F49D68 0%, #EF792F 100%) repeat scroll 0 0 transparent; border: 1px solid #B44D0E; float: left; height: 10px;}

.poll .progress {float: left; width: 100%; height: 10px; border: 1px solid #B44D0E; background: #F49D68; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F49D68), color-stop(100%,#EF792F)); background: -webkit-linear-gradient(top, #F49D68 0%,#EF792F 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f49d68', endColorstr='#ef792f',GradientType=0 );}