RewriteEngine on

RewriteCond $1 !^(index\.php|images|css|javascript|font|uploads|ink-admin|captcha|pma|excelRead|jwplayer|robots\.txt|logos|(.*)\.php|sitemap\.xml|urllist\.txt|ror\.xml)
RewriteRule ^(.*)$ index.php?/$1 [L]


#AuthName "Restricted Area" 
#AuthType Basic 
#AuthUserFile /var/www/html/ink-admin/.htpasswd
#AuthGroupFile /dev/null 
#require valid-user

